{{#each options as |group|}}
  {{#if group.isVisible}}
		{{#if canSelectGroup}}
			<div class="es-group es-selectable {{if group.isSelected "es-highlight"}}" title="{{group.name}}" {{action "select" group}} {{action "hover" group on="mouseEnter"}}>{{group.name}}</div>
		{{else}}
			<div class="es-group" title="{{group.name}}">{{group.name}}</div>
		{{/if}}
    {{#each group.children as |option|}}
      {{#if option.isVisible}}
        {{select-dropdown-option model=option class=optionClass
          select=(action 'select') hover=(action 'hover')}}
      {{/if}}
    {{/each}}
  {{/if}}
{{/each}}
